*{
    margin: 0;
    padding: 0;
}


@font-face{
    font-family: Circular_medium;
    src: url(../Fonts/Circular_medium.woff2);
}


@font-face{
    font-family: Circular_bold;
    src: url(../Fonts/Circular_bold.woff2);
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: Circular_book;
    src: url(../Fonts/Circular_book.woff2);
    font-weight: normal;
    font-style: normal;
} 
.p_content{
    max-width: 302px;
}
h3{
    font-size: 16px;
    font-weight: 800;
    color: #484848 !important;
}
h2{
    color: #484848fc;
    font-size: 24px;
    font-family: Circular_bold;
}
p{
    margin: 0;
}
label{
    margin: 0;
}
a{
    text-decoration: none !important;
}
li{
    list-style: none;
}
body{
    font-family: Circular_book;
}
header{
    display: none;
}
.containerr{
    width: 68%;
    margin: 0 auto;
}
.banner{
    width: 100%;
    height: 686px;
}
.banner .img{
    position: relative;
}
.banner .img img{
    width: 100%;
    height: 100%;
}
.banner .img form{
    position: absolute;
    width: 508px;
    height: 560px;
    top: 64px;
    background: white;
    border-radius: 5px;
}
.banner .img form .margin{
    padding: 32px;
}
.banner .img form h2{
    font-size: 32px;
    color: #484848 ;
    font-weight: bold;
    line-height: 36px;
    font-family: Circular_bold;
}
.banner .img form #p_form{
    font-size: 18px;
    line-height: 26px;
    margin-top: 8px;
    color: #484848 ;
    letter-spacing: normal;
}
.banner .img form label p{
    margin-top: 3px;
    font-size: 12px;
    font-weight: bold;
    color:rgb(72, 72, 72) ;
    letter-spacing: 0.0833333em ;
    font-family: Circular_bold;
}
.banner .img input, form button , select{
    height: 48px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    padding-left: 8px;
}
.banner .img form input[type="text"]{
    width: 100%;
    font-size: 16px;
    color: #484848;
    font-weight: 500;
    margin-top: 9px;
    font-family: Circular_medium;
    padding-left: 10px;
}
.banner .img form input[type="date"]{
    color: #484848b3;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin-top: 9px;
    height: 51px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    padding-left: 8px;
}
.banner .img form .input_text{
    margin-top: 15px;
}

.banner .img form .check{
    display: flex;
    margin-top: 16px;
}

.banner .img form .check .out{
    margin-left: 15px;
    flex: 50%;
}
.banner .img form .check .in{
    flex: 50%;
}
.banner .img form .select{
    display: flex;
    margin-top: 18px;
}
.banner .img form .select select{
    width: 100%;
}
.banner .img form .select .adules{
    flex: 50%;
}
.banner .img form .select .childrens{
    flex: 50%;
}
.banner .img form .select select{
    font-size: 16px;
    color:  #484848;
    margin-top: 8px;
    font-family: Circular_book;
}
[placeholder="Partout"]::placeholder{
    color:  #484848;
    font-weight: 550;
}
.banner .img form .select .childrens{
    margin-left: 15px;
}
.banner .img form button{
    width: 100%;
    margin-top: 32px;
    color: white;
    background: #ff5a5f;
    border: none;
    font-size: 16px;
    font-weight: bold;
}


               /* SECTION */


section{
    margin-top: 52px;
}
section .unis h2{
    color: #484848fc;
    font-size: 24px;
    font-family: Circular_bold;
}
section .unis .star1{
    display: flex;
    margin-top: 12px;
}
section .unis .star1 p{
    margin: 4px 0 0 10px;
}
section .unis .star1 p>span{
    font-family: Circular_bold;
}
section .unis .evaluate1{
    padding-right: 0;
}
section .unis .evaluate1{
    margin-top: 27px;
}
section .unis .evaluate1 .star2{
    margin-top: 13px;
}
section .unis .evaluate1 p{
    margin-top: 9px;
    font-size: 14px;
    color: #484848; 
}
section .unis .evaluate1 .star2 i{
    color: #008489;
    font-size: 14px;
    margin-left: 2px;
}
section .unis .evaluate1 img{
    width: 100%;
    border-radius: 3px;
}
section .unis .evaluate1 .profile{
    display: flex;
    margin-top: 15px;
}
section .unis .evaluate1 .profile img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
section .unis .evaluate1 .profile p{
    margin: 0px 0 5px 15px;
}
section .unis .evaluate1 .profile #p_profile{
    font-weight: bold;
}
section .unis .eva_margin{
    margin: 27px 17px 0 17px;
}

/*  END UNIS  */
section .voyager{
    margin-top: 60px;
    padding-bottom: 38px;
    border-bottom: 1px solid #ebebeb;
}
section .voyager h2{
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 18px;
    border-bottom: 1px solid #ebebeb;
    font-family: Circular_bold;
}
section .voyager svg{
    margin-top: 32px;
}
section .voyager .row  h3{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 800;
}
section .voyager .row p{
    margin-top: 12px;
    line-height:  1.2857142857142858em;
    font-size: 14px;
    font-weight: 400;
}
section .voyager .row .item_margin{
    margin: 0 18px 0 17px;
}


/* END VOYAGER */

/* START REVERSE */

section .reserve{
    margin-top: 50px;
}
section .reserve .row a:hover{
    text-decoration: none;
}
section .reserve .row img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 12px;
}
section .reserve .row .col-3{
    padding-right: 0;
}
section .reserve .row h3{
    margin-top: 10px;
}
section .reserve .row span{
    color: #484848 ;
    font-size: 12px;
    font-weight: 800;
    margin-top: 12px;
}
section .reserve .row p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400 ;
    color: #484848;
}
section .reserve .row .star_small{
    margin: -2px;
    display: flex;
}
section .reserve .row .star_small i{
    font-size: 8px;
    color: #008489;
}
section .reserve .row .star_small span{
    margin-top: 6px;
    margin-left: 5px;
}
section .reserve .the_a{
    margin-top: 25px;
}
section .reserve .the_a a{
    color: #008489;
    font-size: 17px;
    font-weight: 400;
    font-family: Circular_medium;
}
section .reserve .the_a a:hover{
    text-decoration: underline !important;
}
section .reserve .the_a a i{
    margin-left: 8px;
    margin-top: 5px;
}


/* START QUAND */

section .quand{
    margin-top: 62px;
    padding-bottom: 78px;
}
section .quand h2{
    margin: 0;
}
section .quand p{
    margin-top: 0;
    margin-bottom: 30px;
}
section .quand a{
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 23px;
    background: #008489;
    color: white;
    border-radius: 4px;
    font-family: Circular_bold;
}

/* END SECTION */

/* START FOOTER */
footer{
    padding-top: 65px;
    border-top: 1px solid #ebebeb;
    width: 100%;
}
footer .containerr{
    padding-bottom: 9px;
    border-bottom: 1px solid #ebebeb;
}
footer a{
    color: #767676 !important;
}
footer h4{
    font-size: 14px;
    font-weight: 800;
    font-family: Circular_bold;
}
footer .row{
    width: 100%;
}
footer .row ul{
    margin-top: 16px;
}
footer .row ul li{
    margin-bottom: 1px;
    line-height: 1.2857142857142858em !important;
}
footer .row ul li span{
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    margin-left: 7px;
    background: #006a70;
    border-radius: 3px;
    font-family: Circular_medium;
}
footer .row ul li a{
    font-size: 14px;
    font-weight: 400;
    font-family: Circular_medium;
}

footer .row ul li a:hover{
    text-decoration: underline !important;
}
footer .containerr{
    display: flex;
}
footer .mg{
    margin: 0 20px;
}
footer .mg1{
    margin-right: 100px;
}
footer .row .icon{
    display: flex;
    margin-left: 5px;
}
footer .row .mg_left{
    margin-left: 10px;
}
footer .row ul{
    width: 74.666%;
}
footer .icon svg{
    margin: 0 6px;
}

footer .end{
    display: flex;
    margin-top: 18px;
    padding-bottom: 28px;
}
footer .end svg{
    width: 1.2em;
    height: 1.2em;
}
footer .end span{
    font-size: 14px;
    font-family: Circular_medium;
    color: #767676;
    margin-left: 10px;
    margin-top: 2px;
}


@media only screen and (max-width: 1128px){
    .p_content{
        max-width: 470px;
    }
    .containerr{
        width: 96.5% !important;
    }
    .banner .img form{
        left: 105px;
    }
    section .unis .row{
        overflow: auto;
        flex-wrap: inherit;
    }
    section .unis .row .evaluate1{
        display: inline-block;
        flex: 0 0 50.333333%;
        max-width: none;
    }
    section .reserve .row{
        overflow: auto;
        flex-wrap: inherit;
    }
    section .reserve .row .col-3{
        display: inline-block;
        max-width: none;
        flex: 0 0 50.333333%;
    }
}
@media only screen and (max-width: 742px){
    .containerr{
        width: 91% !important;
    }
    .p_content{
        max-width: 630px;
    }
    h2{
        font-size: 18px !important;
        font-weight: 800;
        margin-left: 5px;
    }
    header{
        display: block;
        background-image: linear-gradient(351.58deg, #00383E -0.02%, #17989A 50%, #1BABA8 80%),radial-gradient(228.77px at 31.86% 0%, #19A2A0 0%, rgba(0, 122, 135, 0.9) 100%) !important;
    }
    header svg{
        margin-left: 16px;
        font-size: 48px;
       padding-top: 16px;
    }
    header h2{
        font-size: 24px !important;
        color: white;
        margin-left: 24px;
        margin-top: 16px;
        padding-bottom: 16px;
        line-height: 30px !important;
    }
    .banner{
        height: auto;
    }
    .banner .img form{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .banner .img form #p_form{
        display: none;
    }
    .banner .img form .margin {
        padding: 0 24px;
    }
    .banner .img form h2{
        padding: 30px 0;
        background: rgba(0, 122, 135, 0.9);
        color: white;
        font-size: 24px !important;
        display: none;
    }
    .banner .img form label p{
        margin-top: 1px;
    }
    .banner .img .img_padding{
        position: relative;
        padding-bottom: 385px;
    }
    .banner .img .img_padding img{
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    section{
        margin-top: 0px;
    }
    section .reserve .row{
        margin-top: 15px;
    }
    section .reserve .row .col-3{
        flex: 0 0 97.5%;
        padding: 5px;
    }
    section .reserve .the_a{
        display: none;
    }
    section .unis .row{
        margin-top: 25px;
    }
    section .unis .row .evaluate1{
        flex: 0 0 97.5%;
        margin-top: 0;
        padding: 5px;
    }
    section .unis .star1 p{
        margin-top: -6px;
    }
    section .voyager{
        margin-top: 5px;
    }
    section .voyager .row{
        margin-top: -10px;
    }
    section .voyager .row{
        flex-wrap: inherit;
        overflow: auto;
    }
    section .voyager .row .col-4{
        display: inline-block;
        max-width: none;
        flex: 0 0 59.333333%;
    }
    section .quand{
        margin-top: 20px;
        padding-bottom: 50px;
        margin-left: 5px;
    }
    footer .display_none{
        display: none;
    }
    footer .end{
        margin-top: -25px;
        padding-bottom: 10px;
    }
}
@media only screen and (max-width: 375px){
    .containerr{
        width: 89% !important;
    }
}